# Backend
DATABASE_URL="postgresql://user:password@localhost:5432/anacurve?schema=public"
JWT_SECRET=sua-chave-secreta-super-segura-aqui
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
NODE_ENV=development
PORT=3000

# Mercado Pago (Credenciais de TESTE)
MERCADOPAGO_ACCESS_TOKEN=seu-access-token-aqui
MERCADOPAGO_PUBLIC_KEY=seu-public-key-aqui

# URLs
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:3000
